body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


/*Header Nav*/
body {
  padding-top: 100px; /* padding due to fixed to top navbar */
}

.about-content {
  background-color:#f79e0d;
  padding-top:57px;
  padding-left:70px;
  padding-right:67px;
  padding-bottom:58px;
}

.about-content p {
  font-size:17px;
  line-height:30px;
  color:#FFF;
  padding-bottom:20px;
}

span {
  display: block;
  font-size: 80px;
  color: #f79e0d;
  padding-bottom: 15px;
}

h2 {
  font-size: 46px;
  line-height: 53px;
  color: #404040;
  font-weight: 800;
}

p {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 10px;
  padding: 0;
  vertical-align: baseline;
  border: 0;
  outline: 0;
}



.navbar li a {
  display: inline-block;
  float: right;

  color: #f79e0d;
}
.navbar li a, .navbar-brand {
  text-transform: uppercase;
  text-decoration: none;
  line-height: 60px;
  padding: 0 30px;
}


